@model IEnumerable<PortfolioProject.Models.Video>
<h1>Completed Projects</h1>

<ul>
     @foreach (var v in Model)
     {
       <li>
            <a asp-controller="Videos" asp-action="Details" asp-route-name="@v.Name">@v.Name</a>(@v.ReleaseYear)
        </li> 
     }

        @*<li>
                <a asp-controller="Videos" asp-action="Details" asp-route-name="VideoProject1">Video Project 1</a>
                   </li>
            <li>
                <a asp-controller="Videos" asp-action="Details"asp-route-name="VideoProject2">Video Project 2</a>
            </li>
            <li>
                <a asp-controller="Videos" asp-action="Details"asp-route-name="VideoProject3">Video Project 3</a>
            </li>
            <li>
                <a asp-controller="Videos" asp-action="Details"asp-route-name="VideoProject4">Video Project 4</a>
            </li>*@
    </ul>