@{
    ViewData["Title"] = "Livio's Professional Portfolio";
}


<div class="text-center">
    <h1 class="display-4">LIVIO's Portfolio</h1>








    <p>Learn more about <a href="https://www.linkedin.com/in/livioangelim/">Livio's career and experience</a>.</p>
</div>
